@using VLURecruit.Models;
@model IEnumerable<VLURecruit.Models.Recruitment>
@{
    Layout = null;
    var model = new EJobEntities();
}

<!DOCTYPE html>
<html>

<!-- Mirrored from gambolthemes.net/html/workwise/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Oct 2018 15:49:13 GMT -->
<head>
    <meta charset="UTF-8">
    <title>EJob - List Of Recruitment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="~/Content/CSS_ListRecruitment/animate.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/line-awesome.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/line-awesome-font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/slick.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/style.css" rel="stylesheet" />
    <link href="~/Content/CSS_ListRecruitment/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="~/Scripts/moment.js"></script>
    <!-- All css Here -->
    <!-- All plugins css -->
    <link href="~/Content/allplugins.css" rel="stylesheet" />
    <!-- Style css -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Responsive css -->
    <link href="~/Content/responsive.css" rel="stylesheet" />

    <!-- Modernizr JavaScript -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
</head>


<body oncontextmenu="return false;">
    <div class="wrapper">
        @RenderPage("~/Views/Shared/_LayoutBlackHeader.cshtml")

        <main>
            <div class="main-section">
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                                <div class="main-left-sidebar no-margin">
                                    <div class="user-data full-width">
                                        <div class="user-profile">
                                            <div class="username-dt">
                                                <div class="usr-pic">
                                                    <img src="" alt="">
                                                </div>
                                            </div><!--username-dt end-->
                                            <div class="user-specs">
                                                <h3>@ViewBag.Name</h3>

                                            </div>
                                        </div><!--user-profile end-->
                                        <ul class="user-fw-status">
                                            <li>
                                                <h4>CHUYÊN NGÀNH</h4>
                                                <span>Software Engineering</span>
                                            </li>
                                            <li>
                                                <a href="#" title="">View Profile</a>
                                            </li>
                                        </ul>
                                    </div><!--user-data end-->
                                    <div class="suggestions full-width">
                                        <div class="sd-title">
                                            <h3>Gợi ý</h3>
                                        </div><!--sd-title end-->
                                        <div class="suggestions-list">
                                            @foreach (var item in Model.Take(5))
                                            {
                                                <div class="suggestion-usd">
                                                    <img src="~/Assets/icon/company-logo/ifi.png" alt="">
                                                    <div class="sgt-text">
                                                        <h4>@item.Company_Info.Name_Company</h4>
                                                        <span>@item.title</span>
                                                    </div>
                                                    <span><i class="la la-plus"></i></span>
                                                </div>
                                            }
                                            <div class="view-more">
                                                <a href="#" title="">View More</a>
                                            </div>
                                        </div><!--suggestions-list end-->
                                    </div><!--suggestions end-->
                                    <div class="tags-sec full-width">
                                        <ul>
                                            <li><a href="#" title="">Help Center</a></li>
                                            <li><a href="#" title="">About</a></li>
                                            <li><a href="#" title="">Privacy Policy</a></li>
                                            <li><a href="#" title="">Community Guidelines</a></li>
                                            <li><a href="#" title="">Cookies Policy</a></li>
                                            <li><a href="#" title="">Career</a></li>
                                            <li><a href="#" title="">Language</a></li>
                                            <li><a href="#" title="">Copyright Policy</a></li>
                                        </ul>
                                    </div><!--tags-sec end-->
                                </div><!--main-left-sidebar end-->
                            </div>
                            <div class="col-lg-6 col-md-8 no-pd">
                                <div class="main-ws-sec">

                                    <div class="posts-section">
                                        @foreach (var item in Model)
                                        {
                                            <div class="post-bar">
                                                <div class="post_topbar">
                                                    <div class="usy-dt">
                                                        @*Đây là ảnh logo đã chỉnh sửa*@
                                                        <img src="~/Assets/icon/4.png" alt="">
                                                        <div class="usy-name">
                                                            <h3>@item.Company_Info.Name_Company</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="epi-sec">
                                                    <ul class="descp">
                                                        <li><span>@item.District.Province.Name</span></li>
                                                        <li><span>Quận @item.District.District_Name</span></li>
                                                        <li><span data-utcdate="@item.Updated_date.Value.ToString("s")"></span></li>
                                                        <br>

                                                    </ul>
                                                    <ul class="bk-links">
                                                        <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                                        <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="job_descp">
                                                    <h3>@item.title</h3>
                                                    <ul class="job-dt">
                                                        @if (item.Is_Full_Time == true)
                                                        {
                                                            <li><a href="#" title="">FullTime</a></li>
                                                        }
                                                        @if (item.Is_Part_Time == true)
                                                        {
                                                            <li><a href="#" title="">PartTime</a></li>
                                                        }
                                                        @if (item.Is_Intership == true)
                                                        {
                                                            <li><a href="#" title="">Intership</a></li>
                                                        }
                                                        <!--Salary-->
                                                        @if (item.Salary_from == null && item.Salary_to == null)
                                                        {
                                                            <li><span>Lương Thỏa Thuận</span></li>
                                                        }
                                                        else
                                                        {
                                                            <li><span>@item.Salary_from ~ @item.Salary_to VND</span></li>
                                                        }
                                                        
                                                    </ul>

                                                    <div class="more">
                                                        <span>@Html.Raw(@item.Job_Description)</span>
                                                    </div>

                                                    <ul class="skill-tags">
                                                        @foreach (var rec in model.Tags_Recruitments)
                                                        {
                                                            foreach (var i in model.Tags)
                                                            {
                                                                if (i.Id == rec.Id_Tags && item.Id == rec.Id_Recruitment)
                                                                {
                                                                    <li><a href="#" title="">@i.Name_Tag</a></li>
                                                                }
                                                            }
                                                        }

                                                    </ul>
                                                </div>
                                            </div><!--post-bar end-->
                                        }



                                        <div class="process-comm">
                                            <div class="spinner">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div><!--process-comm end-->
                                    </div><!--posts-section end-->
                                </div><!--main-ws-sec end-->
                            </div>
                            <div class="col-lg-3 pd-right-none no-pd">
                                <div class="right-sidebar">
                                    <div class="widget widget-jobs">
                                        <div class="sd-title">
                                            <h3>Công việc hàng đầu</h3>
                                        </div>
                                        <div class="jobs-list">
                                            @foreach (var item in Model.Take(10))
                                            {
                                                <div class="job-info">
                                                    <div class="job-details">
                                                        <h3>@item.title</h3>
                                                        <ul class="skill-tags">
                                                            @foreach (var rec in model.Tags_Recruitments)
                                                            {
                                                                foreach (var i in model.Tags)
                                                                {
                                                                    if (i.Id == rec.Id_Tags && item.Id == rec.Id_Recruitment)
                                                                    {
                                                                        <li><a href="#" title="">@i.Name_Tag</a></li>
                                                                    }
                                                                }
                                                            }

                                                        </ul>

                                                    </div>
                                                    <div class="hr-rate">
                                                        <span style="font-size:10px;color:gray"> <i class="fas fa-eye"></i> : @item.Nums_view</span>
                                                    </div>
                                                </div>
                                            }
                                        </div><!--jobs-list end-->
                                    </div><!--widget-jobs end-->
                                   
                                    <div class="widget suggestions full-width">
                                    </div>
                                </div><!--right-sidebar end-->
                            </div>
                        </div>
                    </div><!-- main-section-data end-->
                </div>
            </div>
        </main>
        <script src="~/Scripts/Js_Recruitment/jquery.min.js"></script>
        <script src="~/Scripts/Js_Recruitment/popper.js"></script>
        <script src="~/Scripts/Js_Recruitment/bootstrap.min.js"></script>
        <script src="~/Scripts/Js_Recruitment/jquery.mCustomScrollbar.js"></script>
        <script src="~/Scripts/Js_Recruitment/slick.min.js"></script>
        <script src="~/Scripts/Js_Recruitment/scrollbar.js"></script>
        <script src="~/Scripts/Js_Recruitment/script.js"></script>
        <script src="~/Scripts/Js_Recruitment/disabled.js"></script>
</body>
<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'a2plcpnl0235' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='../../../img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

@*Đây là script của View More*@
<script>
    $(document).ready(function () {
        // Configure/customize these variables.
        var ellipsestext = "...";
        var moretext = "Show more >";
        var lesstext = "Show less";


        $('.more').each(function () {
            var text = $(this).text();
            if ($(this).text().length > 500)
            {
                var html = $(this).text().substr(0, 450) + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + $(this).text().substr(450, $(this).text().length) + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
                
                $(this).html(html);
            }
            else
            {
                $(this).html($(this).text());

            }

        })

        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });

    $(function () {
        $('[data-utcdate]').each(function () {
            var d = moment($(this).attr('data-utcdate'));
            $(this).html(d.fromNow());
        });
    });

</script>

<!-- Mirrored from gambolthemes.net/html/workwise/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Oct 2018 15:49:57 GMT -->
</html>
