@model IEnumerable<VLURecruit.Models.Recruitment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    
}

<!--Job searcing area start here-->
<section class="job-searcing af">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="search-con">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="heading_con">
                                <h2><span class="counter-anim">@ViewBag.count</span><span>+</span> Công Việc Hiện Có</h2>
                                <h3>Tìm công việc mơ ước của bạn ngay bây giờ</h3>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1">
                            <form>
                                <div class="row mr-0">
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <input type="search" placeholder="What are you looking for ?">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <select class="wide">
                                                <option>All Regions</option>
                                                <option>Regions</option>
                                                <option>Regions</option>
                                                <option>Regions</option>
                                                <option>Regions</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <select class="wide">
                                                <option>All Categories</option>
                                                <option>Web Programing</option>
                                                <option>Education</option>
                                                <option>Art & Media</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <button class="btn1">Tìm</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-10 col-sm-12 offset-lg-1">
                            <div class="keyword">
                                <p>Từ Khóa Nổi Bật :</p>
                                <ul>
                                    <li><a href="#">Developer</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Medical</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Media</a></li>
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Web Developer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Job searcing area End here-->
<!--Categories area start here-->
<div class="categories-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="intro">
                    <h4>Một Số Doanh Mục Nổi Bật</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <div class="con">
                            <div class="ico"><i class="flaticon-computer-graphic"></i></div>
                            <p>Web Design</p>
                            <span>(300 Jobs)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <div class="con">
                            <div class="ico"><i class="flaticon-doctor-stethoscope"></i></div>
                            <p>Medical</p>
                            <span>(200 Jobs)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <div class="con">
                            <div class="ico"><i class="flaticon-mortarboard"></i></div>
                            <p>Education</p>
                            <span>(150 Jobs)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <div class="con">
                            <div class="ico"><i class="flaticon-brush"></i></div>
                            <p>Art & Media</p>
                            <span>(220 Jobs)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <div class="con">
                            <div class="ico"><i class="flaticon-bars"></i></div>
                            <p>Financial Services</p>
                            <span>(110 Jobs)</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories last">
                    <a href="#">
                        <div class="con">
                            <div class="ico"><i class="flaticon-apps"></i></div>
                            <p>All Categories</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Categories area End here-->
<!--Features jobs area start here-->
<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-heading">
                    <h2>CÔNG VIỆC NỔI BẬT</h2>
                    <p>Nếu một công việc tốt đang thiếu tài năng, chúng tôi sẽ giúp bạn tìm thấy nó. Chúng tôi là bước đầu tiên của bạn để mọi thứ bạn muốn trở nên có thể.</p>
                </div>
            </div>
        </div>
        <div class="jobs_area">
            <div class="jobs">
                <div class="jobs_items">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="items">
                                    <div class="right-con">
                                        <figure><img src="~/Assets/icon/12.png" alt=""></figure>
                                        @if (item.Is_Part_Time == true)
                                        {
                                            <span class="color1">Part Time</span>
                                        }
                                        @if (item.Is_Full_Time == true)
                                        {
                                            <span class="color2">Full Time</span>
                                        }
                                        @if (item.Is_Intership == true)
                                        {
                                            <span class="color3">Intership</span>
                                        }

                                    </div>
                                    <div class="content">
                                            <h3><a href="@Url.Action("Detail","Home",new { id=item.Id})">@item.title</a><button><i class="fa fa-heart"></i></button></h3>
                                            <p>@item.Expire_date.Value.ToString("dd/MM/yyyy")</p>
                                            <ul>
                                                <li><span class="ico"><i class="flaticon-briefcase-frontal-view"></i></span><span class="con">@item.Company_Info.Name_Company</span></li>
                                                <li><span class="ico"><i class="flaticon-money-bag-with-dollar-symbol"></i></span><span class="con">@item.Salary VND</span></li>
                                                <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span class="con">@item.District.District_Name</span></li>
                                            </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Features jobs area End here-->
<!--Banner area start here-->
@*<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="banner-con">
                    <h2>Millions of Jobs. </h2>
                    <h3>Find the one that’s right for you.</h3>
                    <p>Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide. The right job is out there.</p>
                    <a href="#" class="btn1">Search Jobs</a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--Banner area End here-->
<!--Company register area start here-->
<section class="company_register section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-heading">
                    <h2>NHỮNG THÀNH VIÊN CỦA JOBEE</h2>
                </div>
            </div>
        </div>
        <div class="companies_area">
            <div class="companies">
                <div class="companies_items">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/4.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Purus Accumsan</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/5.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Malesuada</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/6.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Interdum</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/7.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Aenean Vitae</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/8.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Vivamus</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/9.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Ultrices</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/10.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Ouisque</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/11.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Curabitur</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companies_items">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/8.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Vivamus</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/9.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Ultrices</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/10.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Ouisque</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/11.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Curabitur</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/4.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Purus Accumsan</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/5.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Malesuada</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/6.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Interdum</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/7.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Aenean Vitae</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companies_items">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/4.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Purus Accumsan</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/5.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Malesuada</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/6.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Interdum</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/7.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Aenean Vitae</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/8.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Vivamus</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/9.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Ultrices</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/10.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Ouisque</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="items">
                                <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/11.png" alt="" /></figure>
                                <div class="content">
                                    <h4>Curabitur</h4>
                                    <p>United States, San Diego</p>
                                    <a href="#">5 Open Positions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Company register area End here-->
<!--Banner area start here-->
<section class="banner-area2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pd-0">
                <div class="banner-con left af jarallax">
                    <div class="con">
                        <h3>I’m an</h3>
                        <h2>EMPLOYER</h2>
                        <p>Signed in companies are able to post new job<br> offers, searching for candidate...</p>
                        <a href="#" class="btn1">Register as Company</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pd-0">
                <div class="banner-con right af jarallax">
                    <div class="con">
                        <h3>I’m an</h3>
                        <h2>CANDIDATE</h2>
                        <p>Browse and search potential candidates for your <br>job that match you, save job....</p>
                        <a href="#" class="btn1">Register as Candidate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Banner area End here-->
<!--Testimonial area start here-->
@*<section class="testimonial-area section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-heading">
                    <h2>What Clients Say?</h2>
                    <p>Read our favorite reviews about our Job Platform from our clients.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1">
                <div class="testimonial-slider">
                    <div class="contentst">
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed sagittis leo. Mauris aliquet sem sem, et accumsan ligula consectetur id. Aenean arcu tortor” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed sagittis leo. Mauris aliquet sem sem” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed sagittis leo. Mauris aliquet sem sem, et accumsan ligula consectetur id. Aenean arcu tortor” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed sagittis leo. Mauris aliquet sem sem” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed sagittis leo. Mauris aliquet sem sem, et accumsan ligula consectetur id. Aenean arcu tortor” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed sagittis leo. Mauris aliquet sem sem” </h3>
                        </div>
                    </div>
                    <div class="thumb_content">
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/1.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/2.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/3.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/4.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/5.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/2.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/3.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                        <div class="lists">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/testimonial/4.png" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>
                                <p>Web developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--Testimonial area End here-->
<!--Counter area start here-->
<section class="counter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <h2><span class="counter-anim">5890</span> +</h2>
                    <p>Jobs Available</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <h2><span class="counter-anim">2554</span> +</h2>
                    <p>Members</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <h2><span class="counter-anim">5142</span> +</h2>
                    <p>Resumes</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <h2><span class="counter-anim">1420</span> +</h2>
                    <p>Company</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counter area End here-->
<!--Blog area start here-->
<section class="blog-area section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-heading">
                    <h2>Tin Tức</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 pd-0">
                <div class="blog-slider">
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/blog/1.jpg" alt="" /></figure>
                            <div class="content">
                                <h4>11 Tips to Help You Get New Clients Through Cold Calling</h4>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate</p>
                                <a href="#" class="btn2">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/blog/2.jpg" alt="" /></figure>
                            <div class="content">
                                <h4>How to “Woo” a Recruiter and Land Your Dream Job</h4>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate</p>
                                <a href="#" class="btn2">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/blog/3.jpg" alt="" /></figure>
                            <div class="content">
                                <h4>Hey Job Seeker, It’s Time To Get Up And Get Hired</h4>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate</p>
                                <a href="#" class="btn2">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/blog/1.jpg" alt="" /></figure>
                            <div class="content">
                                <h4>11 Tips to Help You Get New Clients Through Cold Calling</h4>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate</p>
                                <a href="#" class="btn2">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/blog/2.jpg" alt="" /></figure>
                            <div class="content">
                                <h4>Hey Job Seeker, It’s Time To Get Up And Get Hired</h4>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate</p>
                                <a href="#" class="btn2">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/blog/3.jpg" alt="" /></figure>
                            <div class="content">
                                <h4>11 Tips to Help You Get New Clients Through Cold Calling</h4>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate</p>
                                <a href="#" class="btn2">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/blog/1.jpg" alt="" /></figure>
                            <div class="content">
                                <h4>How to “Woo” a Recruiter and Land Your Dream Job</h4>
                                <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate</p>
                                <a href="#" class="btn2">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog area End here-->
<!--Apps area start here-->
@*<section class="apps-banner section2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-md-offset-1">
                <div class="apps-img">
                    <figure class="date wow animated flipInY" data-wow-duration="1.5s" data-wow-delay="0.5s"><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/banner/phone.png" alt="" /></figure>
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="apps-con">
                    <h2>Download</h2>
                    <h3>Job Portal App Now!</h3>
                    <p>Fast, Simple & Delightful. All it takes is 30 seconds to Download.</p>
                    <ul>
                        <li><a href="#"><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/1.png" alt="" /></a></li>
                        <li><a href="#"><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/2.png" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--Apps area End here-->
<!--Subscribe area start here-->
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row mr-0">
                    <div class="col-md-12 col-xl-6 col-sm-12">
                        <div class="sub_con">
                            <span><img src="http://webdevproof.com/theme-forest-demo/job/demo1/assets/images/icons/3.png" alt="" /></span>
                            <div class="con">
                                <h3>Nhận Thông Báo Về Việc Làm Sớm Nhất</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6 col-sm-12">
                        <div class="sub_form">
                            <form>
                                <input type="email" placeholder="Địa Chỉ Email">
                                <input class="btn1" type="submit" value="Gửi    ">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Subscribe area End here-->
@*<h3>Log In Demo</h3>
    <button type='button' class="btn btn-success" data-toggle="modal" data-target="#popUpWindow">Open Log In Window</button>

    <div class="modal fade" id="popUpWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Login Form</h3>
                </div>
                <!-- body -->
                <div class="modal-header">
                    <form role="form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" />
                            <input type="password" class="form-control" placeholder="Password" />
                        </div>
                    </form>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block">Log In</button>
                </div>

            </div>
        </div>
    </div>*@
