@model VLURecruit.Models.RecruitmentSuppor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2 style="text-align:center">ĐĂNG TIN TUYỂN DỤNG</h2>


@using (Html.BeginForm("Create", "Recruitment", new { area = "Company" }, FormMethod.Post, new { entype = "multiple", @class = "register-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="reload  ">
            <div>
                <div class="container ">

                    <div class="row create">
                        <div class="form-group col-xs-6 col-sm-6">
                            <label>Tiêu Đề Tin Tuyển Dụng</label>
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-6 col-sm-6">
                            <label>Vị Trí</label>
                            @Html.DropDownList("Districts_id", null, String.Empty, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Districts_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row create">
                        <div class="form-group col-xs-3 col-sm-3">
                            <label>Lương Thấp Nhất</label>
                            @Html.EditorFor(model => model.Salary_from, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                            @Html.ValidationMessageFor(model => model.Salary_from, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-3 col-sm-3">
                            <label>Lương Cao Nhất</label>
                            @Html.EditorFor(model => model.Salary_to, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                            @Html.ValidationMessageFor(model => model.Salary_to, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Toàn Thời Gian</label>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Is_Full_Time)
                                        @Html.ValidationMessageFor(model => model.Is_Full_Time, "", new { @class = "text-danger" })
                                        @Html.LabelFor(model => model.Is_Full_Time, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                </div>

                                <div class="form-group col-md-4">

                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Is_Part_Time)
                                        @Html.ValidationMessageFor(model => model.Is_Part_Time, "", new { @class = "text-danger" })
                                        @Html.LabelFor(model => model.Is_Part_Time, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">

                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Is_Intership)
                                        @Html.ValidationMessageFor(model => model.Is_Intership, "", new { @class = "text-danger" })
                                        @Html.LabelFor(model => model.Is_Intership, htmlAttributes: new { @class = "control-label " })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row create">
                        <div class="form-group col-xs-3 col-sm-3">
                            <label>Ngày Bắt Đầu</label>
                            @Html.EditorFor(model => model.Recruiting_dates, new { htmlAttributes = new { @class = "datepicker form-control", @placeholder = "Ngày bắt đầu" } })
                            @Html.ValidationMessageFor(model => model.Recruiting_dates, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-3 col-sm-3">
                            <label>Ngày Hết Hạn</label>
                            @Html.EditorFor(model => model.Expire_date, new { htmlAttributes = new { @class = "datepicker form-control", @placeholder = "Ngày hết hạn" } })
                            @Html.ValidationMessageFor(model => model.Expire_date, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-6 col-sm-6">
                            <label>Tags</label>
                            @Html.DropDownList("recttag", (SelectList)ViewBag.recttag, new { @class = "form-control", @title = "Tag", @multiple = "true", @style = "nice-select.disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mo_ta_Chi_Tiet, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Mo_ta_Chi_Tiet, new { htmlAttributes = new { @class = "summernote" } })
                            @Html.ValidationMessageFor(model => model.Mo_ta_Chi_Tiet, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ky_Nang_Cong_Viec, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Ky_Nang_Cong_Viec, new { htmlAttributes = new { @class = "summernote" } })
                            @Html.ValidationMessageFor(model => model.Ky_Nang_Cong_Viec, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phuc_Loi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Phuc_Loi, new { htmlAttributes = new { @class = "summernote" } })
                            @Html.ValidationMessageFor(model => model.Phuc_Loi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Tuy_Chon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Tuy_Chon, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                            @Html.ValidationMessageFor(model => model.Tuy_Chon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="container">
                    <p class="text-center">
                        <input type="submit" value="ĐĂNG TIN" class="btn btn-success btn-xl btn-round" />
                    </p>
                </div>
            </div>
        </div>
    </div>
}



@section scripts{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $('#recttag').select2({ dropdownAutoWidth: true });
        $('#Districts_id').select2({ dropdownAutoWidth: true });
        $('.nice-select').hide();
        $(function () {
            $(".datepicker").datepicker();
        });
        $("#Tuy_Chon").summernote({
            toolbar: [
		    // [groupName, [list of button]]
		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150
        });

        $("#Phuc_Loi").summernote({
            toolbar: [

		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150

        });

        $("#Ky_Nang_Cong_Viec").summernote({
            toolbar: [
		    // [groupName, [list of button]]
		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150
        });

        $("#Mo_ta_Chi_Tiet").summernote({
            toolbar: [
		    // [groupName, [list of button]]
		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150
        });

    </script>
}



