@model VLURecruit.Models.RecruitmentSuppor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Recruitment", new { area = "Company" }, FormMethod.Post, new { entype = "multiple" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Recruitment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary_from, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary_from, new { htmlAttributes = new { @class = "form-control", min="0" } })
                @Html.ValidationMessageFor(model => model.Salary_from, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary_to, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary_to, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                @Html.ValidationMessageFor(model => model.Salary_to, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Recruiting_dates, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Recruiting_dates, new { htmlAttributes = new { @class = "datepicker" } })
                @Html.ValidationMessageFor(model => model.Recruiting_dates, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expire_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expire_date, new { htmlAttributes = new { @class = "datepicker" } })
                @Html.ValidationMessageFor(model => model.Expire_date, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Districts_id, "Districts_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Districts_id", null, String.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Districts_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Full_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Is_Full_Time)
                    @Html.ValidationMessageFor(model => model.Is_Full_Time, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Part_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Is_Part_Time)
                    @Html.ValidationMessageFor(model => model.Is_Part_Time, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Intership, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Is_Intership)
                    @Html.ValidationMessageFor(model => model.Is_Intership, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mo_ta_Chi_Tiet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Mo_ta_Chi_Tiet, new { htmlAttributes = new { @class = "summernote" } })
                @Html.ValidationMessageFor(model => model.Mo_ta_Chi_Tiet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ky_Nang_Cong_Viec, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Ky_Nang_Cong_Viec, new { htmlAttributes = new { @class = "summernote" } })
                @Html.ValidationMessageFor(model => model.Ky_Nang_Cong_Viec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phuc_Loi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Phuc_Loi, new { htmlAttributes = new { @class = "summernote" } })
                @Html.ValidationMessageFor(model => model.Phuc_Loi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tuy_Chon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Tuy_Chon, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                @Html.ValidationMessageFor(model => model.Tuy_Chon, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.recttag, "Tag", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("recttag", (SelectList)ViewBag.recttag, new { @class = "form-control", @multiple = "true", @style = "nice-select.disabled" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $('#recttag').select2({ dropdownAutoWidth: true });
        $('#Districts_id').select2({ dropdownAutoWidth: true });
        $('.nice-select').hide();
        $(function () {
            $(".datepicker").datepicker();
        });
        $("#Tuy_Chon").summernote({
            toolbar: [
		    // [groupName, [list of button]]
		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150
        });
        
        $("#Phuc_Loi").summernote({
            toolbar: [

		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150

        });
        
        $("#Ky_Nang_Cong_Viec").summernote({
            toolbar: [
		    // [groupName, [list of button]]
		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150
        });
        
        $("#Mo_ta_Chi_Tiet").summernote({
            toolbar: [
		    // [groupName, [list of button]]
		    ['style', ['bold', 'italic']],
		    ['para', ['ul', 'ol']],
            ],
            height: 150
        });
        

    </script>
}



