
<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from webdevproof.com/theme-forest-demo/job/demo1/jobs-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Sep 2018 06:08:17 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JobHunt - @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    @RenderSection("Js", required:false)

    <link href="~/Areas/Company/Assets/css/layout.css" rel="stylesheet" />
    <!------------------------------------------------------------------->
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/Assets/img/favicon.ico">

    <!-- All css Here -->
    <!-- All plugins css -->
    <link href="~/Content/allplugins.css" rel="stylesheet" />
    <!-- Style css -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Responsive css -->
    <link href="~/Content/responsive.css" rel="stylesheet" />

    <!-- Modernizr JavaScript -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!------------------------------------------------------------------->
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--Preloader area Start-->
    <div id="preloader">
        <div id="status" class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--Preloader area End-->
    <!--Header area start here-->
    @Html.Partial("_LayoutBlackHeader");
    <!--Header area end here-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm pd-0">
                                @*<ul class="navtab">
                                        <li>
                                            <a class="prev-step active" href="javascript:void(0)">LOGIN</a>
                                        </li>
                                        <li>
                                            <a class="next-step" href="javascript:void(0)">Register</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="login">
                                            <div class="logins">
                                                <form>
                                                    <fieldset>
                                                        <label>Username or Email Address</label>
                                                        <input type="text" placeholder="Enter Username or Email Address">
                                                        <span><i class="fa fa-user"></i></span>
                                                    </fieldset>
                                                    <fieldset>
                                                        <label>Password</label>
                                                        <input type="text" placeholder="Enter Password">
                                                        <span><i class="flaticon-lock"></i></span>
                                                    </fieldset>
                                                    <button class="btn1">LOGIN</button>
                                                    <div class="agree"><input type="checkbox" class="checkbox-custom"><p>Remember Password</p> <a href="#">Forgot Password?</a></div>
                                                </form>
                                                <div class="login_ac">
                                                    <h4>or login with</h4>
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <a href="#"><span><i class="fa fa-facebook"></i></span>FACEBOOK</a>
                                                        </div>
                                                        <div class="col-sm">
                                                            <a href="#"><span><i class="fa fa-google-plus"></i></span>GOOGLE</a>
                                                        </div>
                                                        <div class="col-sm">
                                                            <a href="#"><span><i class="fa fa-twitter"></i></span>TWITTER</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="havean"><p>You don't have an account? <a class="p-step" href="javascript:void(0)">Register Now</a> </p></div>
                                            </div>
                                        </div>
                                        <div id="register" class="lighting">
                                            <div class="registers">
                                                <form>
                                                    <fieldset>
                                                        <label>Register As:</label>
                                                        <select>
                                                            <option>Select</option>
                                                            <option>Advisers</option>
                                                            <option>Member</option>
                                                        </select>
                                                    </fieldset>
                                                    <fieldset>
                                                        <label>Username or Email Address</label>
                                                        <input type="text" placeholder="Enter Username or Email Address">
                                                        <span><i class="fa fa-user"></i></span>
                                                    </fieldset>
                                                    <fieldset>
                                                        <label>Password</label>
                                                        <input type="text" placeholder="Enter Password">
                                                        <span><i class="flaticon-lock"></i></span>
                                                    </fieldset>
                                                    <fieldset>
                                                        <label>Confirm Password</label>
                                                        <input type="text" placeholder="Confirm Password">
                                                        <span><i class="flaticon-lock"></i></span>
                                                    </fieldset>
                                                    <button class="btn1">REGISTER</button>
                                                    <div class="agree"><input type="checkbox" class="checkbox-custom"><p>I agree with the <a href="#">Terms of Use</a></p></div>
                                                </form>
                                                <div class="login_ac">
                                                    <h4>or login with</h4>
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <a href="#"><span><i class="fa fa-facebook"></i></span>FACEBOOK</a>
                                                        </div>
                                                        <div class="col-sm">
                                                            <a href="#"><span><i class="fa fa-google-plus"></i></span>GOOGLE</a>
                                                        </div>
                                                        <div class="col-sm">
                                                            <a href="#"><span><i class="fa fa-twitter"></i></span>TWITTER</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="havean"><p>Already have an account? <a class="n-step" href="javascript:void(0)">Login</a></p></div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End-->

    <div class="mainContainer">
        @RenderBody()
        <hr />
        <!--Footer area start here-->
        @Html.Partial("_LayoutFooter");
        <!--Footer area end here-->
    </div>

    <!-- All JavaScript Here -->
    <!-- jQuery latest version -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!-- tether JavaScript -->
    <script src="~/Scripts/tether.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap1.min.js"></script>
    <!-- Owl.carousel JavaScript -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Bxslider JavaScript -->
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <!-- isotope JavaScript -->
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <!-- meanmenu JavaScript -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- jarallax JavaScript -->
    <script src="~/Scripts/jarallax.min.js"></script>
    <!-- jQuery-ui JavaScript -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Nice-select JavaScript -->
    <script src="~/Scripts/jquery.nice-select.min.js"></script>
    <!-- Progressbar Animation JavaScript -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <!-- slick JavaScript -->
    <script src="~/Scripts/slick.min.js"></script>
    <!-- wow JavaScript -->
    <script src="~/Scripts/wow.min.js"></script>
    <!-- Plugins JavaScript -->
    <script src="~/Scripts/plugins.js"></script>
    <!-- Init JavaScript -->
    <script src="~/Scripts/main.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from webdevproof.com/theme-forest-demo/job/demo1/jobs-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 30 Sep 2018 06:08:17 GMT -->
</html>
