
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jobee - Admin Page</title>

    <link href="~/Content/CSS_Admin/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS_Admin/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/CSS_Admin/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/CSS_Admin/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CSS_Admin/admin-custom.css" rel="stylesheet" />
</head>
<body>
    <div class="modal-ajax-loading">
        <img class="modal-ajax-loading-content" src="~/Assets/img/ajax-loader.gif" />
    </div>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="margin-left:3%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#">
                    <img src="~/Assets/img/logo.png" alt="Jobee" style="max-width: 200px; max-height: 50px;"/>
            </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong><!--shouw user's name--></strong>
                                    <span class="pull-right text-muted">
                                        <em>Hôm qua</em>
                                    </span>
                                </div>
                                <div>Có tin tuyển dụng mới</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><!--shouw user's name--></strong>
                                    <span class="pull-right text-muted">
                                        <em>24/12/2017</em>
                                    </span>
                                </div>
                                <div>Công ty mới cần xác nhận</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><!--shouw user's name--></strong>
                                    <span class="pull-right text-muted">
                                        <em>20/10/2017</em>
                                    </span>
                                </div>
                                <div>Báo cáo số lượng việc làm tháng 12</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Đọc tất cả</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>


                <!-- /.dropdown -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Bình luận mới
                                    <span class="pull-right text-muted small">4 phút trước</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 Theo dõi mới
                                    <span class="pull-right text-muted small">12 phút trước</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Có tin nhắn mới
                                    <span class="pull-right text-muted small">4 phút trước</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Xem tất cả</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Hồ sơ</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Cài đặt</a>
                        </li>
                        <li class="divider"></li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", new { area=""},FormMethod.Post, new { id = "logoutForm"}))
                            {
                                @Html.AntiForgeryToken()
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuẩt</a></li>
                            }
                        }

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Tìm...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        @if (User.IsInRole("Staff"))
                        {
                            <li>
                                <!-- route('admin.home') -->
                                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Bảng điều khiển</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-newspaper-o fa-fw"></i> Tin tuyển dụng<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <!-- route('admin.recruitments.index') -->
                                        <a href="@Url.Action("List","Recruitment",new {area="Staff" })">Danh sách tin tuyển dụng</a>
                                    </li>
                                    <li>
                                        <!-- route('admin.recruitments.approve') -->
                                        <a href="@Url.Action("Approve","Recruitment",new {area="Staff" })">Tin tuyển dụng chờ xác nhận</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-building fa-fw"></i> Công ty<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">

                                    <li>
                                        <!-- route('company') -->
                                        <a href="">Danh sách công ty</a>
                                    </li>
                                    <li>
                                        <!-- route('company.registration') -->
                                        <a href="">Công ty đang chờ xác nhận</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-users fa-fw"></i> Danh sách tài khoản<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="list-account-company.html">Công ty</a>
                                    </li>
                                    <li>
                                        <a href="list-account-candidate.html">Ứng viên</a>
                                    </li>
                                    <li>
                                        <a href="list-account-staff.html">Nhân viên</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-archive fa-fw"></i> Phòng ban<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <!-- route('faculties.index') -->
                                        <a href="">Danh sách Phòng Ban</a>
                                    </li>
                                    <li>
                                        <!-- route('faculties.create') -->
                                        <a href="">Thêm Phòng Ban</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Blog<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <!-- route('blogs.index') -->
                                        <a href="">Danh sách Blog</a>
                                    </li>
                                    <li>
                                        <!-- route('blogs.create') -->
                                        <a href="">Đăng Blog</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="#"><i class="fa fa-archive fa-fw"></i> Tài khoản<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <!-- route('faculties.index') -->
                                        <a href="">Vài trò của tài khoản</a>
                                    </li>
                                    <li>
                                        <!-- route('faculties.create') -->
                                        <a href="">Thêm tài khoản</a>
                                    </li>
                                </ul>
                            </li>
                        }

                    </ul>

                    <!-- /.navbar-top-links -->
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            
        </div>    
        <!-- /#page-wrapper -->

    </div>
    
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script src="~/Scripts/Js_Admin/jquery.min.js"></script>
    <script src="~/Scripts/Js_Admin/bootstrap.min.js"></script>
    <script src="~/Scripts/Js_Admin/metisMenu.min.js"></script>
    <script src="~/Scripts/Js_Admin/sb-admin-2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
